
/* ==== VARIABLES ==== */

$white: #ffffff;
$purple: #8d3894;
$yellow: #edb408;
$blue: #2285a8;
$black: #3b3b3b;
$grey: #d6d6d6;
$bg_img: url(../../assets/images/bg.jpg);



/* ==== BOOTSTRAP OVERRIDES ==== */

.navbar-default {
	background: transparent;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	height: auto;
	padding: 0px;
	margin: 0px;
}

.navbar-default .navbar-nav>li>a{
	font-weight: bold;
	font-size: 1em;
	color: $purple;
}

.navbar-default .navbar-toggle{
	border: none;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: $white;
}

.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}

.dropdown-menu {
	//display: block!important;
	opacity: 0;
}
.open>.dropdown-menu{
	opacity: 1;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	/* ...and now for the proper property */
	transition:.3s;
}


.btn-primary:hover, .comment-form input[type=submit]:hover, .btn-primary.active, .btn-primary:active, .comment-form .open>input.dropdown-toggle[type=submit], .comment-form input.active[type=submit], .comment-form input[type=submit]:active, .open>.btn-primary.dropdown-toggle{
	background-color: #333;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .comment-form .open>input.dropdown-toggle.focus[type=submit], .comment-form .open>input.dropdown-toggle[type=submit]:focus, .comment-form .open>input.dropdown-toggle[type=submit]:hover, .comment-form input.active.focus[type=submit], .comment-form input.active[type=submit]:focus, .comment-form input.active[type=submit]:hover, .comment-form input[type=submit]:active.focus, .comment-form input[type=submit]:active:focus, .comment-form input[type=submit]:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover{
	background-color: #333;
}





/* ===GLOBALS ====*/

@font-face {
    font-family: 'novecento_medium_bookbold';
    src: url('../../assets/fonts/novecentowide-medium-webfont.eot');
    src: url('../../assets/fonts/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/novecentowide-medium-webfont.woff2') format('woff2'),
         url('../../assets/fonts/novecentowide-medium-webfont.woff') format('woff'),
         url('../../assets/fonts/novecentowide-medium-webfont.ttf') format('truetype'),
         url('../../assets/fonts/novecentowide-medium-webfont.svg#novecento_wide_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;



}


@font-face {
    font-family: 'novecento_widenormal';
    src: url('../../assets/fonts/novecentowide-normal-webfont.eot');
    src: url('../../assets/fonts/novecentowide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/novecentowide-normal-webfont.woff2') format('woff2'),
         url('../../assets/fonts/novecentowide-normal-webfont.woff') format('woff'),
         url('../../assets/fonts/novecentowide-normal-webfont.ttf') format('truetype'),
         url('../../assets/fonts/novecentowide-normal-webfont.svg#novecento_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novecento_widelight';
    src: url('../../assets/fonts/novecentowide-light-webfont.eot');
    src: url('../../assets/fonts/novecentowide-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/novecentowide-light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/novecentowide-light-webfont.woff') format('woff'),
         url('../../assets/fonts/novecentowide-light-webfont.ttf') format('truetype'),
         url('../../assets/fonts/novecentowide-light-webfont.svg#novecento_widelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: $white;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	font-size: 16px;
	background-image: url('../images/bg.jpg');
	position: relative;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $purple;
}

a:hover {
	color: $blue;
}


h1, h2, h3 {
	font-family:'novecento_widenormal', sans-serif;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.25em;
}

h4{
	font-size: 1em;
}


.header_fixed {
	position: fixed;
	max-height: 60px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000000;
	background-color: $yellow!important;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
	text-shadow: none;
	transition-timing-function: ease-in;
	img {
		max-height: 60px;
		-o-transition:.8s;
	-ms-transition:.8s;
	-moz-transition:.8s;
	-webkit-transition:.8s;
	/* ...and now for the proper property */
	transition:.8s;
	text-shadow: none;
	transition-timing-function: ease-in;
	}
}

.primary_fixed {
	z-index: 100000000;
	top: 10px!	important;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
	text-shadow: none;
	transition-timing-function: ease-in;
}


 .accent_lower {
 		background-image: url('../../assets/images/triangles.svg');
	height: 170px;
	width: 100%;

    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: $white; 
    z-index: -10;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
 }


.hello_bar {
	background-color: $yellow;
-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.37);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.37);
}

.inner_hello_bar {
	position: relative;
	text-align: center;
	margin: 0px auto;
	color: $white;
	padding: 10px;
	z-index: 9999999;
	width: 60%;
	font-family: 'novecento_widenormal', arial, sans-serif;
	font-size: 1.25em;
	a{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 0.75em;
		font-style: oblique;
		margin: 0px 15px;
		color: #fff;

	}
}


header{
	
	height: 100px;
	border-color: transparent!important;
-webkit-box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.13);
-moz-box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.13);
box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.13);
box-shadow: none;
}


.navbar-brand {
	position: absolute;
	z-index: 51000;
	top: 0px;


	path:hover {
		fill: $grey;
	}
}

.logo {
	height: 100px;
	width: 130px;
	&:hover {
		opacity: 0.2;
	}

}

/*=== PRIMARY NAV MOLECULE ===*/
.primary {
	position: absolute;
	z-index: 10000000;
	top: 25px;
	right: 20px;
	background: white;
	font-family:'novecento_widenormal', sans-serif;
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
	a{
		color: $purple;
	}


}


/*===CALLOUT ORGANISM===*/

.callout {
	@extend .col-md-8;
	background: $purple;
	color: $white;
	padding: 10px 20px;
	text-align: center;
	margin-bottom: 100px;
	position: relative;
	z-index:1029;

	a{
		padding: 7px 40px;
		margin: 10px 0px; 
		font-family: 'News Cycle', sans-serif;
		font-size: 0.5em;
		background-color: $white;
		color: $purple;
		vertical-align: middle;
	}
}


/* === HERO Organism ===*/

.hero {
	 position: relative;
    top: -100px;
    height: 90vh;
	z-index: 0;
	background-color: $purple;
	-webkit-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.1);
	box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.1);
	background-size: cover;
	.hero_copy{
		position:absolute;
		z-index: 3;
		color: $white;
		text-align: center;
		top: 60px;
		left: 0;
		right: 0;
		bottom:0;
		text-shadow: 1px 1px 3px $black;
		div {
			margin: 10% auto;
			p{
				font-size: 1.7em;
			}

			.line-one {
				text-transform: uppercase;
				font-weight: normal;
				padding-bottom: 10px;
			}

			h1 {
				font-size: 3em;
			}

			.line-three {
				padding-top: 10px;
				font-size: 1.4em;
			}

			a{
				margin-top: 30px;
				display: inline-block;
				border: solid 1px $white;
				text-transform: uppercase;
				padding: 20px 60px;
				color: $white;
				-o-transition:.5s;
				-ms-transition:.5s;
				-moz-transition:.5s;
				-webkit-transition:.5s;
				/* ...and now for the proper property */
				transition:.5s;
				&:hover {
					background: $white;
					color: $black;
					-o-transition:.5s;
					-ms-transition:.5s;
					-moz-transition:.5s;
					-webkit-transition:.5s;
					/* ...and now for the proper property */
					transition:.5s;
					text-shadow: none;

				}
			}

		}
	}

	
	img {
		position:relative;	
	}

	.logo{

	}

	.headline{

	}

	





}

	

/* === BAR Molecule === */

.tertiary_options {
	text-align: center;
	clear: both;
	padding: 60px 0px;
}

.bar {
	position: relative;
	@extend .col-xs-12;
	@extend .col-md-2;
	height: 70vh;
	background-color: $yellow;
	background-position-x: center;
	background-size: cover;
	z-index: 10;
	display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    

	&:after{
		border: solid 1px white;
    	padding: 24px;
	} 

	&:hover:after {
		//background-color: #000;
		//background-image: url('../../assets/images/speckle.jpg');
		opacity: 0.25;
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
		/* ...and now for the proper property */
		transition:.3s;
	}
	&:after{
		content: '.';
		position: absolute;
		background-blend-mode: screen;
		background-color: $yellow;
		opacity: 0.5;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		/* ...and now for the proper property */
		transition:.5s;
	}

	div{
		border: solid 1px white;
		height: 93%;
		position: relative; z-index: 9999;
		width: 100%;
		margin: 15px 0px !important;
    	padding: 0px;

		h3{
			display: block;
			text-transform: uppercase;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 1.2em;
			padding: 10px;
			bottom: 0px;
			color: $white;
			margin: 0px auto;
			position: absolute;
			z-index: 99999999;
			
		}
		p{
			font-weight: normal;	
		}

		a{
			color: $white;
		}

		
	}
}

.yellow:after {
	background-color: $yellow;
}


/* === PRODUCTS ====*/


.breadcrumb {
	text-transform: capitalize;
}


.product-price {
	font-size: 3em;
	font-weight: bold;
}

sup {
	font-size: 24px;
	font-weight: normal;
}

.nwf-btn{
    margin-top: 30px;
    display: inline-block;
    border: solid 1px #fff;
    text-transform: uppercase;
    padding: 20px 60px;
    color: #fff;
    background-color: $purple;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}





/* POSTS */


.meta {
	background: #e5e5e5;
	padding: 5px;
	color: #777;
}

.pre-jump {
	background: #e5e5e5;
	padding: 20px;
	margin-top: 10px;
}

/* === SPONSORS Organism ====*/

.sponsors {
	background-color: $purple;
	color: $white;
	padding: 50px 0px 90px 0px;
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);

	.sponsors-wrap {
		display: block;
		padding-top: 30px;

		h4 {
			text-align: center;
			padding: 20px 0px;
		}
		ul {
			padding: 0px;
			margin: 0px auto;
			text-align: center;
		
			li {
				display: inline-block;	
				margin: 20px;
				a:hover > img{
					opacity: 0.8;
				}
				img {
					width: 100%;
				}
			}
		}
	}
}



/* ===FOOTER BLOCK ===*/
footer {
	overflow: hidden;
	padding: 120px 60px;
	color: #000;
	position: relative;
	.content-info {
		position: relative;
		background-color: $white;
		z-index: 90;
		@extend .col-md-4;
	}
	.social {
		@extend .col-md-8;
		position:relative;
		text-align: right;
		z-index: 100;
		a:hover> i{
			background: $blue;
			-o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
			/* ...and now for the proper property */
			transition:.5s;
		}
		i {
			background: $yellow;
			padding: 15px 20px;
			color: $white;

		}
	}
}

/*====PAGE ====*/

.white_bg {
	background-color: $white;
	color: $black;
	@extend .container;
	position: relative;
	z-index: 950;
	top: 80px;
	padding: 40px 80px;
	clear: both;
	float: none;
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.13);
	font-size: 0.95em;
	.page-header {
		h1 {
			font-size: 1.75em;
		}
	}
}

.blog_post {
	@extend .col-md-8;
	@extend .col-sm-12;
	@extend .col-xs-12;

	img {
		max-width: 100%;
	}
	h1 {
		font-size: 2em;
	}

}

.sidebar {
	@extend .col-md-4;
}



/* ======= SCREENING DETAILS ========== */

/*=======Grid=========*/




.grid{

	ul {
		padding: 15px 0px;
		margin: 0px;
		border-bottom: 1px solid #e5e5e5;
		a{
			color: $black;
		}
		li{
			list-style-type: none;
			text-transform: uppercase;
			h3 {
				font-size: 1.2em;
				background: black;
				color: #fff;
				padding: 10px;
			}
		}
	}
}


/*==== SINGLE PAGES ====*/

.single-film {
	top: 0px;
	padding-top: 0px;
	margin-top: 0px;
	h1 {
		font-size: 1.85em;
	    padding-bottom: 0px;
	    margin-bottom: 2px;
	}

	.title-details {
		text-transform: uppercase;
		font-size: 1.2em;
	}
}



.screening-callout {
	background: #e8e8e8;
	padding: 10px 10px 15px 10px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;

    a{
		background-color:$purple;
		border: none;
		border-radius: 0px;
		text-transform: uppercase;
		i {
			margin-right: 5px;
		}
	}


    .screening-date {
    	font-size: 1.5em;
    }
    .screening-venue {
    	background-color: transparent;
    	i {
    		margin-left: 5px;
    		vertical-align: middle;
    	}
    }

	
}


.image {
	position: relative;
	z-index: -20;
	max-height: 80vh;
	img {
		min-width: 100%;
		-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	}
}
.screening-information, .programming-stream {
	h4 {
		font-family:'novecento_medium_bookbold', sans-serif;
		font-size: 1.25em;
	}
	a{
		background-color:$purple;
		border: none;
		border-radius: 0px;
		text-transform: uppercase;
		i {
			margin-right: 5px;
		}
	}
}

.programming-stream {
	padding-bottom: 0px;
	padding-top: 25px;
	text-align: center;
	hr {
		padding: 20px 10px;
	}
	a{
		margin-left: 4px;
	}
}

.modal {
	top: 100px;
}


.yellow {
	a{
	color: $yellow!important;
	}
}

.dropdown-menu>li>a {
	color: $purple!important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: $purple;
	color: $white!important;
}


@media(min-width:992px){
	.container {
		max-width: 1200px;
	}


.secondary {

    clear: both;

}

.secondary_options {
	
	box-sizing: content-box!important;
	//margin: 0 auto;
	float: none;
	text-align: center;
	padding: 60px 0px;

}



/* === BUBBLE Organism ===*/


.bubble_one, .bubble_three {
	top: -200px;
}

.bubble_two {
	top: 0px;
	z-index: 99;
}


.bubble_wrap{
	display: inline-block;
	position: relative;
	height: 215px;
	width: 215px;
	margin: 0px auto;
	padding: 0px;
	background-color: $yellow;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	//padding: 2px;

	&:hover{
		text-decoration: none!important;
	}


	.bubble {
		background-size: cover;
		background-color: $yellow;
		height: 200px;
		width: 200px;
		margin: 7.5px;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		color: #fff;
		border: solid 1px white;
			-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
		/* ...and now for the proper property */
		transition:.3s;

		&:hover{
			background-color: #f3cf62;
			-o-transition:.3s;
			-ms-transition:.3s;
			-moz-transition:.3s;
			-webkit-transition:.3s;
			/* ...and now for the proper property */
			transition:.3s;
		}


		p {
			font-family:'novecento_widelight', sans-serif;
			text-align: center;
			padding: 60px 20px 0px 20px;
			font-size: 1.25em;
			font-weight: 300;
		}

		i {
	
		}
	}

}


}






/* Large screens ----------- */
@media only screen and (max-width : 992px) {
    /*body {display: none;}*/
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav {
        float: none;
    }
    .nav.navbar-nav {
        clear: both;
        float: left;
        margin: 0 0 0 -15px;
        width: 100%;
        height: auto;
    }
}




@media(max-width:992px){

	.hello_bar{
		display: none;
	}

.grid {
	padding: 5px;
}


	.accent_upper{
		height: 250px;
		left: 0;
	}


.navbar-brand{
	display: inline-block;
		img {
			margin: 0 auto;
			float: left;
			text-align: center;
			width: 70px;
			height: auto;
		}
	}


.hero {
	background-repeat: no-repeat!important;
	//background-image: none!important;
	position: relative;
	top: -140px;
	height: 75vh;
	max-width: none;

	.hero_copy {
		top: 105px;
		div{
			p{
				margin: 0px;
			}
			.line-one{
				font-size: 0.9em;
				padding: 0px;
			}
			h1 {
				font-size: 1.7em;
				padding: 0px;
				margin: 10px 0px;
			}
			.line-three{
				font-size: 0.9em;
				padding: 0px;
			}
			a{
				padding: 10px 40px;
				margin-top: 10px;
			}
		}
	}
}


.secondary {
	top: -140px;
    position: relative;
}
	.secondary_options {
		.bubble_wrap{

			.bubble {
				text-align: center;
				background-color: $white;
				border-bottom: solid 1px #ccc;
				padding: 10px 0px;


			}
		}
	}


	.tertiary_options{
		
		.bar {
			overflow: hidden;
			img {
				//position: static;
			}
			&:after {
				opacity: 0.4;
			}
			div {
				position: relative;
				z-index: 99999999999999999;
				
			}
		}
	}

	footer {
		.content-info {
			text-align: center;
		}

		.social {
			text-align: center;
			margin-top: 20px;
			a{
				display: inline-block;
			}
		}
	}

	.white_bg {
	padding: 10px;
}

.blog_post {


	.thumbnail a>img, .thumbnail>img, .wp-caption a>img, .wp-caption>img {
		max-width: 100%;
	}
	figure {
		max-width: 100%;
	img {
		max-width: 100%;
	}
}
	h1 {
		font-size: 2em;
	}

}

}


